<h1>TRUYỆN NỔI BẬT </h1>
<div class="" id="slider">
    <div id="mainslider" class="owl-carousel owl-theme">
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
      <div class="item">
        <div class="manga-item">
          <div class="manga-item-img">
           <%= link_to image_tag("slider_background1.jpg", alt: "") %>
          </div>
          <div class="manga-item-text">
            Hoa bỉ ngạn
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-md-3">
      <div class="popular-manga">
        <table class="popular-title-top">POPULAR MANGA
          <tr>
            <div class="popular-title">
              <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực<br>
              <i style="color: #9C9C9C; font-size: 10px;">Ngày cập nhật: 18/11/2018</i>
            </div>
          </tr>
          <tr>
            <div class="popular-title">
              <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực<br>
              <i style="color: #9C9C9C; font-size: 10px;">Ngày cập nhật: 18/11/2018</i>
            </div>
          </tr>
          <tr>
            <div class="popular-title">
              <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực<br>
              <i style="color: #9C9C9C; font-size: 10px;">Ngày cập nhật: 18/11/2018</i>
            </div>
          </tr>
          <tr>
            <div class="popular-title">
              <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực<br>
            <i style="color: #9C9C9C; font-size: 10px;">Ngày cập nhật: 18/11/2018</i>
            </div>
          </tr>
          <tr>
            <div class="popular-title">
              <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực<br>
              <i style="color: #9C9C9C; font-size: 10px;">Ngày cập nhật: 18/11/2018</i>
            </div>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <table>
        <div class="recent_nav">
        <%= link_to "Recent update", "#" %>
        <%= link_to "Hot update", "#" %>
        <%= link_to "New posts", "#" %>
        </div>
        <div class="wrap_update home">
          <div class="update_item">
            <tr>
              <div class="update_image">
                <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực
                <em style="margin: 149px; color: #9C9C9C; font-size: 10px;">16 giờ trước</em><br>
                <i style="color: #9C9C9C; font-size: 10px;">Huyết Tộc Cấm Vực chap 127.1</i>
              </div>
            </tr>
            <tr>
              <div class="update_image">
                <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực
                <em style="margin: 149px; color: #9C9C9C; font-size: 10px;">16 giờ trước</em><br>
                <i style="color: #9C9C9C; font-size: 10px;">Huyết Tộc Cấm Vực chap 127.1</i>
              </div>
            </tr>
            <tr>
              <div class="update_image">
                <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực
                <em style="margin: 149px; color: #9C9C9C; font-size: 10px;">16 giờ trước</em><br>
                <i style="color: #9C9C9C; font-size: 10px;">Huyết Tộc Cấm Vực chap 127.1</i>
              </div>
            </tr>
            <tr>
              <div class="update_image">
                <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực
                <em style="margin: 149px; color: #9C9C9C; font-size: 10px;">16 giờ trước</em><br>
                <i style="color: #9C9C9C; font-size: 10px;">Huyết Tộc Cấm Vực chap 127.1</i>
              </div>
            </tr>
            <tr>
              <div class="update_image">
                <%= link_to image_tag("huyettoccamvuc.jpg", alt: "") %>Huyết tộc cấm vực
                <em style="margin: 149px; color: #9C9C9C; font-size: 10px;">16 giờ trước</em><br>
                <i style="color: #9C9C9C; font-size: 10px;">Huyết Tộc Cấm Vực chap 127.1</i>
              </div>
            </tr>
          </div>
        </div>
      </table>
    </div>
    <div class="col-md-3">
      <table>
        <div class="most-read">
          <span class="feature-title">MOST-READ STORY</span>
            <tr>
              <div class="chapter">
                <%= link_to "1.Huyết tộc cấm vực", "#" %>
              </div>
            </tr>
            <tr>
              <div class="chapter">
                <%= link_to "2.Huyết tộc cấm vực", "#" %>
              </div>
            </tr>
            <tr>
              <div class="chapter">
                <%= link_to "3.Huyết tộc cấm vực", "#" %>
              </div>
            </tr>
            <tr>
              <div class="popular-title">
                <%= link_to "4.Huyết tộc cấm vực", "#" %>
              </div>
            </tr>
            <tr>
              <div class="popular-title">
                <%= link_to "5.Huyết tộc cấm vực", "#" %>
              </div>
            </tr>
      </div>
    </div>
  </div>
</div>



