<div class="container-body" style="margin-top: 30px;">
  <div class="" id="slider" style="margin-bottom: 15px;">
      <div id="mainslider" class="owl-carousel owl-theme">
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("9.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("13.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("12.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("10.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("11.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="manga-item">
            <div class="manga-item-img">
             <%= link_to image_tag("5.jpg", alt: "") %>
            </div>
            <div class="manga-item-text">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="popular-manga">
        <table class="popular-title-top">
          <div class="popular-manga-text">POPULAR MANGA</div>
          <ul class="abc">
          <% @mangaks.each do |mangak| %>
          <div class="popular-title">
            <li class="list" style="margin-bottom: 10px">
              <%= image_tag mangak.picture.url, size: 70 %>
              <strong><%= link_to mangak.name, mangak %></strong><br>
              Update: <%= mangak.updated_at %><br>
              View: <%= mangak.impressionist_count %>
            </li>
          </div>
          <% end %>
          </ul>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="recent_nav">
      <%= link_to "Recent update", "#" %>
      <%= link_to t("manga_hot"), mangak_hot_path %>
      <%= link_to "New posts", mangaks_path %>
      </div>
      <div class="wrap_update home">
        <div class="update_item">
          <ul class="abc">
          <% @chapters.each do |chapter| %>
          <div class="popular-title">
            <li class="list" style="margin-bottom: 10px ">
              <%= image_tag chapter.mangak.picture.url, size: 70 %>
              <strong><%= link_to chapter.mangak.name, chapter.mangak %></strong><br>
              <%= link_to chapter.name_chapter, mangak_chapter_path(chapter.mangak, chapter) %>
              <br>
              View: <%= chapter.mangak.impressionist_count %>
            </li>
          </div>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <table>
        <div class="most-read">
          <span class="feature-title">NEW MANGA</span>
            <ul class="abc">
          <% @mangaks_new.each do |mangak| %>
          <div class="popular-title">
            <li class="list" style="margin-bottom: 10px">
              <%= image_tag mangak.picture.url, size: 70 %>
              <strong><%= link_to mangak.name, mangak %></strong><br>
              Update: <%= mangak.updated_at %><br>
              View: <%= mangak.impressionist_count %>
            </li>
          </div>
          <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
