<% provide :title, @user.id %>
<h1>
  <%= @user.id %>
</h1>

<div class="col-md-8">
    <h3 style="color:green"><%= @title %></h3>
    <% if @mangaks.any? %>
      <ul class="users">
      <% @mangaks.each do |mangak| %>
      <li>
        <%= image_tag mangak.picture.url, size: 50 %>
        <%= link_to mangak.name, mangak %>
      </li>
      <% end %>
      </ul>
      <%= will_paginate @mangaks %>
    <% end %>
  </div>
</div>

