<% provide :title, t(".upload_chapter") %>
<% if can? :manage, :all %>
<h1><%= t ".upload chapter" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@mangak,@chapter], html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t(".name_chapter") %>
      <%= f.text_field :name_chapter, class: "form-control" %>

      <%= f.fields_for :images do |p| %>
      <div class="field">
        <%= p.label :images %><br>
        <%= p.file_field :image, multiple: true, name: "images[image][]" %>
      </div>
      <% end %>

      <%= f.submit t(".create") %>
    <% end %>
  </div>
</div>
<div data-spy="scroll" data-target="#myScrollspy" data-offset="8"
    style="height:200px;width: 80%;overflow-y: scroll;padding:5px; border: solid #ccc">
<table>
  <tr class="chapters">
    <th class="col-md-9 col-md-offset-4" style="color:green;font-size: 120%">
    <%= t ".list chapter" %></th>
    <th class="col-md-3 col-md-offset-5" style="color:green;font-size: 120%">Created at</th>
  </tr>
    <% @mangak.chapters.each do |chapter| %>
    <tr>
    <th class="col-md-9 col-md-offset-4">
    <%= link_to chapter.name_chapter, mangak_chapter_path(chapter.mangak, chapter) %></th>
    <th class="col-md-3 col-md-offset-5">
    <%= chapter.created_at %></th>
    </tr>
  <% end %>
  </table>
</div>
<% end %>

