<div class="chapter">
  <p class="col-md-1 col-md-offset-2"><%= link_to "Previous", "#" %></p>
  <p class="col-md-1 col-md-offset-7"><%= link_to "Next", "#" %></p>
</div>
<div class="col-md-4 col-md-offset-2">
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" style="width:200px">
    <%= @chapter.name_chapter %>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @mangak.chapters.each do |chapter| %>
      <li>
        <%= link_to chapter.name_chapter, mangak_chapter_path(chapter.mangak, chapter) %>
      </li>
      <% end %>
    </ul>
  </div>
  <p class="name_chapter" style="color: green; margin-bottom: 30px;font-size: 120% ">
    <strong><%= link_to @mangak.name, mangak_path(@mangak) %></strong>
    <%= @chapter.name_chapter %>
  </p>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <% @images.each do |p| %>
    <%= image_tag p.image_url, style: "width: 700px; height: 700px" %>
    <% end %>
  </div>
